*{
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: grey;
  .text{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
  }
}

button {
  background-color: grey;
  margin: 20px;
  cursor: pointer;
  border: none;
  i{
    font-size: 100px;
    color: black;
    &:hover{
      color: #123456;
    }
  }
}

#output {
  font-size: 20px;
  text-align: center;
}

.result {
  font-size: 20px;
  margin-top: 3%;
  height: 50%;
}

.head {
      width: 90px;
      height: 30px;
    }
    
.round {  
  width: 90px;
  font-size: 20px;
  margin-top: 3%;
  margin-right: 5%;
  height: 50%;
}

#newGame {
  width: 200px;
  height:70px;
}

.endGame {
  font-size: 20px;
  margin-top: 3%;
  height: 50%;
  margin-left: 5%;
}

.headRounds {
  width: 200px;  
  height: 30px;
}











.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  
  &.show {
    display: block;
  }
}

.modal {
  background: #123456;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    color: #000;
    text-decoration: none;
  }
  
  header {
    font-size: 20px;
    line-height: 30px;
    min-height: 30px;
    font-weight: bold;
    padding: 0 30px;
  }

  .content {
    min-height: 30px;
    padding: 5px 30px;
  }
}


